/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* default reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
}

:root {
  --primary: rgb(52, 152, 219);
  --secondary: rgb(34, 34, 34);
}

.container {
  padding: 0 20px;
  max-width: 1140px;
  margin: 0 auto;
}

.section-spacing {
  margin: 100px 0;
}

.title-spacing {
  margin-bottom: 14px;
}

img {
  width: 100%;
}
/* Typography */
h1 {
  font-size: 4.6rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  font-size: 1.75rem;
  font-weight: 900;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
  color: rgb(255, 255, 255);
}

p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.primary-button {
  background-color: var(--primary);
  color: rgb(255, 255, 255);
  padding: 16px 40px;
  border-radius: 42px;
  cursor: pointer;
  font-size: 1.12rem;
  font-weight: 600;
  border: none;
  border: none;
  text-align: center;
}

/* header section */

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.logo h2 {
  font-size: 2.25rem;
  color: var(--primary);
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 45px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px 15px;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.25em;
}

#select-nav {
  background-color: var(--primary);
  color: rgb(255, 255, 255);
  padding: 8px 20px;
  border-radius: 42px;
  cursor: pointer;
  font-weight: 600;
  border: none;
  border: none;
  text-align: center;
}

.menu {
  color: white;
  cursor: pointer;
  font-size: 20px;
  display: none;
}

/* banner */

.banner {
  display: flex;
  gap: 70px;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}

.banner-content #style-text {
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

.banner-content p {
  margin: 28px 0;
}

.button-container {
  display: flex;
  gap: 15px;
}

.border-button {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}

.banner-image {
  position: relative;
}

.banner-image img {
  width: 350px;
}
.bage1 {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  padding: 16px 22px;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  position: absolute;
  top: 100px;
  left: 220px;
}

.bage2 {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  padding: 16px 22px;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  display: flex;
  gap: 8px;
  align-items: center;
  position: absolute;
  left: -50px;
  top: 420px;
}

.bage2 h2 {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.bage2 .boll {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.bage1,
.bage2 span {
  color: rgba(255, 255, 255, 0.65);
}

/* habits */

.habits-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  justify-items: center;
  gap: 40px;
  margin-top: 50px;
}

.habits-card img {
  border-radius: 100%;
  margin-bottom: 30px;
}

.habits-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.habits-card h5 {
  margin-bottom: 6px;
}

.habits-content {
  text-align: center;
}

/* run section */
.run {
  background-color: var(--secondary);
  border-radius: 18px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
}

.run-content p {
  margin-bottom: 40px;
}

/* exercises */

.exersises-images {
  margin-top: 50px;
}

.exersises-images p {
  color: white;
  font-weight: bold;
}

.exersises-images-top,
.exersises-images-buttom {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  height: 200px;
  text-align: end;
}

.exersises-images-buttom {
  grid-template-columns: 2fr 1fr 2fr;
}

.exexsises1,
.exexsises2,
.exexsises3,
.exexsises4,
.exexsises5,
.exexsises6 {
  background-image: linear-gradient(
      rgba(7, 250, 157, 0.5),
      rgba(5, 46, 30, 0.5)
    ),
    url("../images/exercise1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.exexsises4 {
  text-align: right;
}
.exexsises2 {
  text-align: center;
}
.exexsises5,
.exexsises1,
.exexsises3 {
  display: flex;
  align-items: flex-end;
}

.exexsises2 {
  background-image: linear-gradient(rgba(250, 7, 60, 0.5), rgba(36, 5, 46, 0.5)),
    url("../images/exercise2.png");
}

.exexsises3 {
  background-image: linear-gradient(rgba(22, 17, 18, 0.5), rgba(36, 5, 46, 0.5)),
    url("../images/exercise3.png");
}
.exexsises4 {
  background-image: linear-gradient(rgba(22, 17, 18, 0.5), rgba(36, 5, 46, 0.5)),
    url("../images/exercise4.png");
}
.exexsises5 {
  background-image: linear-gradient(
      rgba(76, 250, 7, 0.5),
      rgba(22, 78, 11, 0.5)
    ),
    url("../images/exercise5.jpg");
}
.exexsises6 {
  background-image: linear-gradient(
      rgba(7, 201, 250, 0.5),
      rgba(5, 46, 46, 0.5)
    ),
    url("../images/exercise6.jpg");
}

/* BMI Calculator */
.bmi-content {
  text-align: center;
}

.bmi-box {
  margin-top: 80px;
  padding: 50px 0;
  background-color: var(--secondary);
}

table {
  color: white;
  border-collapse: collapse;
  margin-top: 50px;
}

td,
th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 20px;
  text-align: start;
}

td {
  color: rgba(255, 255, 255, 0.5);
}

.bmi-container {
  display: flex;
}

.boxs {
  display: flex;
  gap: 100px;
}

.bmi-chart {
  width: 60%;
}
form {
  margin-top: 30px;
}
input {
  padding: 12px 40px 12px 20px;
  width: 46%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  margin: 10px;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  margin-left: 0;
}
input#last {
  width: 94%;
  margin-bottom: 40px;
}

/* our team */
.team-card-1,
.team-card-2,
.team-card-3,
.team-card-4,
.team-card-5,
.team-card-6 {
  display: flex;
  align-items: end;
  padding: 20px;
  background-image: linear-gradient(
    to top, #000000ef, #3498db50
  ), url("../images/trainer1.png");
  width: 325px;
  height: 272px;
  background-size: cover;
  border-radius: 18px;
}
.team-card-2 {
  background-image: linear-gradient(
    to top, #000000ef, #3498db50
  ), url("../images/trainer2.png");
}
.team-card-3 {
  background-image: linear-gradient(
    to top, #000000ef, #3498db50
  ), url("../images/trainer3.png");
  
}
.team-card-4 {
  background-image: linear-gradient(
    to top, #000000ef, #3498db50
  ), url("../images/trainer4.png");
}
.team-card-5 {
  background-image: linear-gradient(
    to top, #000000ef, #3498db50
  ), url("../images/trainer5.png");
}
.team-card-6 {
  background-image: linear-gradient(
    to top, #000000ef, #3498db50
  ), url("../images/trainer6.png");
}
.team-card h5 {
  background-color: white;
}

.team-card img {
  width: 100%;
}

.team-card .content {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.teams-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
  padding: 20px;
  border-radius: 18px;
  background-color: var(--secondary);
}

/* medium device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  h1 {
    font-size: 60px;
  }

  .section-spacing {
    margin: 80px 0;
  }

  /* header section */
  .bage1 h2 {
    font-size: 30px;
  }

  .button-container {
    flex-direction: column;
  }

  /* habits */
  .habits-content {
    text-align: center;
  }

  .habits-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .habits-card {
    width: 230px;
  }

  /* run */
  .run {
    gap: 30px;
  }

  /* BMI Calculator */
  .boxs {
    flex-direction: column;
  }

  /* our team */
  .team-card-1,
  .team-card-2,
  .team-card-3,
  .team-card-4,
  .team-card-5,
  .team-card-6 {
    width: 200px;
  }
}

/* small device responsive */
@media screen and (max-width: 576px) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  /* header section*/
  .nav-items {
    display: none;
  }

  .menu {
    display: block;
  }

  .banner {
    flex-direction: column;
  }

  .primary-button {
    padding: 15px 20px;
  }

  .bage1 h2 {
    font-size: 30px;
  }

  .bage2 {
    left: -20px;
  }

  /* habits */
  .habits-content {
    text-align: center;
  }

  .habits-cards {
    grid-template-columns: 1fr;
  }

  .habits-card {
    padding: 50px;
  }

  /* run */
  .run {
    flex-direction: column;
    gap: 30px;
  }

  /* exersises */
  .exexsises3 {
    display: none;
  }

  .exexsises6 {
    display: none;
  }

  .exersises-images-top {
    grid-template-columns: 1fr 2fr;
  }

  .exersises-images-buttom {
    grid-template-columns: 2fr 1fr;
  }

  /*BMI Calculator  */
  .bmi-content {
    text-align: start;
    padding: 0 20px;
  }
  .boxs {
    flex-direction: column;
  }
  .bmi-chart {
    width: 100%;
  }
}
