/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* default reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
}

:root {
  --primary: rgb(230, 83, 60);
  --secondary: rgb(34, 34, 34);
}

.container {
  padding: 0 20px;
  max-width: 1140px;
  margin: 0 auto;
}

.section-spacing {
  margin: 100px 0;
}

.title-spacing {
  margin-bottom: 14px;
}

img {
  width: 100%;
}
/* Typography */
h1 {
  font-size: 4.6rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  font-size: 1.75rem;
  font-weight: 900;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
  color: rgb(255, 255, 255);
}

p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.primary-button {
  background-color: var(--primary);
  color: rgb(255, 255, 255);
  padding: 16px 40px;
  border-radius: 42px;
  cursor: pointer;
  font-size: 1.12rem;
  font-weight: 600;
  border: none;
  border: none;
  text-align: center;
}

/* header section */

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.logo h2 {
  font-size: 2.25rem;
  color: var(--primary);
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 45px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px 15px;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.25em;
}

#select-nav {
  background-color: var(--primary);
  color: rgb(255, 255, 255);
  padding: 8px 20px;
  border-radius: 42px;
  cursor: pointer;
  font-weight: 600;
  border: none;
  border: none;
  text-align: center;
}

.menu {
  color: white;
  cursor: pointer;
  font-size: 20px;
  display: none;
}

/* banner */

.banner {
  display: flex;
  gap: 70px;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}

.banner-content #style-text {
  font-family: "Pacifico", cursive;
  font-weight: 400;
}

.banner-content p {
  margin: 28px 0;
}

.button-container {
  display: flex;
  gap: 15px;
}

.border-button {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}

.banner-image {
  position: relative;
}

.banner-image img {
  width: 350px;
}
.bage1 {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  padding: 16px 22px;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  position: absolute;
  top: 100px;
  left: 220px;
}

.bage2 {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  padding: 16px 22px;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  display: flex;
  gap: 8px;
  align-items: center;
  position: absolute;
  left: -50px;
  top: 420px;
}

.bage2 h2 {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.bage2 .boll {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--primary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.bage1,
.bage2 span {
  color: rgba(255, 255, 255, 0.65);
}

/* habits */

.habits-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  justify-items: center;
  gap: 40px;
  margin-top: 50px;
}

.habits-card img {
  border-radius: 100%;
  margin-bottom: 30px;
}

.habits-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.habits-card h5 {
  margin-bottom: 6px;
}

/* medium device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  h1 {
    font-size: 60px;
  }

  .section-spacing {
    margin: 80px 0;
  }

  /* header section */
  .bage1 h2 {
    font-size: 30px;
  }

  .button-container {
    flex-direction: column;
  }

  /* habits */
  .habits-content {
    text-align: center;
  }

  .habits-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .habits-card {
    width: 230px;
  }
}

/* small device responsive */
@media screen and (max-width: 576px) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  /* header section*/
  .nav-items {
    display: none;
  }

  .menu {
    display: block;
  }

  .banner {
    flex-direction: column;
  }

  .primary-button {
    padding: 15px 20px;
  }

  .bage1 h2 {
    font-size: 30px;
  }

  .bage2 {
    left: -20px;
  }

  /* habits */
  .habits-content {
    text-align: center;
  }

  .habits-cards {
    grid-template-columns: 1fr;
  }

  .habits-card{
    padding: 50px;
  }
}
